<h2>Edit this Listing</h2>
<% if flash[:message] %>
<%= flash[:message] %>
<% end%>
<%= form_for @listing do |f| %>
<%= f.label :street_address%>
<%= f.text_field :street_address %>
<br>
<%= f.label :city%>
<%= f.text_field :city %>
<br>
<%= f.label :state%>
<%= f.text_field :state %>
<br>
<%= f.label :zip_code%>
<%= f.number_field :zip_code %>
<br>
<%= f.label :price%>
<%= f.number_field :price %>
<br>
<%= f.label :floors%>
<%= f.number_field :floors %>
<br>
<%= f.label :bedrooms%>
<%= f.number_field :bedrooms %>
<br>
<%= f.label :bathrooms%>
<%= f.number_field :bathrooms %>
<br>
<%= f.label :description%>
<%= f.text_area :description %>
<br>
<%= f.submit %>
<% end%>

